#logoDiv {
}
#logoImg {
  width: 40%;
  height: 5%;
}
#sideBar {
  width: 20%;
  height: 100%;
  background-color: #9A44A6;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  border: 10px solid #BF506E;
  border-color: #BF506E;
  margin-left: 0%;
  padding-left: 0%;
}