*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logoDiv {
  /* border: solid 1px #ffffff;
  border-radius: 10px; */
}
#logoImg {
  width: 40%;
  height: 5%;
  position: relative;
  left: 30%;
  border: solid 1px #ffffff;
  border-radius: 10px;
  border-right: 10px;
  border-left: 10px;
}
#sideBar {
  width: 20%;
  height: 100%;
  background-color: #9A44A6;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  border: 10px solid #9A44A6;
  margin-left: 0%;
  padding-left: 0%;
}
.tabs {
  margin: 10%;
  padding: 0;
  list-style: none; 
  text-decoration: none;
  border: solid 1px #ffffff;
  border-radius: 10px;
}
#sideBar-ul {
  margin: 0;
  padding: 0;
  list-style: none; 
}
.tab-link {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: inline-flex;
  align-items: center;
  

}
.icons {
  margin: 3%;
  padding: 0;
  width: 20%;
  display: flex-inline;
  align-items: center;
}
