/* styles sheet for music.html */
* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  min-width: 800px;
  height: 70%;
  min-height: 400px;
  display: flex;
  position: relative;
}

.audio-list {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.audio {
  width: 120px;
  height: 60px;
  background-color: #D9A282;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio:hover {
  cursor: pointer;
}

.audio-board {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.title {
  width: 100%;
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  display: block;
  padding: 10px 40px;
  color: #fff;
  background-color: black;
}

.play-btn {
  width: 100%;
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: block;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  position: relative;
}

.btn:hover {
  cursor: pointer;
}

.play {
  display: block;
}

.play:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 15px;
  left: 22px;
  border-top: 15px solid transparent;
  border-left: 20px solid #fff;
  border-bottom: 15px solid transparent;
}

.stop {
  display: none;
}

.stop:before {
  content: "";
  width: 24px;
  height: 24px;
  background-color: #fff;
  position: absolute;
  top: 18px;
  left: 18px;
}

.not-active {
  opacity: 0.5;
}

.not-active:hover {
  cursor: default;
}

.column {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.square {
  width: 55px;
  height: 55px;
  transition: all 0.2s;
}

.active-btn {
  transform: scale(1.2);
}

.tom {
  background-color: black;
  opacity: 0.3;
}

.clap {
  background-color: black;
  opacity: 0.3;
}

.kick {
  background-color: black;
  opacity: 0.3;
}

.hat {
  background-color: black;
  opacity: 0.3;
}

.boom {
  background-color: black;
  opacity: 0.3;
}

.ride {
  background-color: black;
  opacity: 0.3;
}

.snare {
  background-color: black;
  opacity: 0.3;
}

.play {
  opacity: 1;
}
