/* styles sheet for music.html */
body {
    background-image: url("../media/photos/img9.jpg");
    
    color: pink;
    background-size: cover;
  width: 100vw;
  height: 100vw;
  border: 2px solid;
  
}

/* #container-frosty {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  margin: 10px;
  border: 2px solid;
  border-radius: 10px;
  backdrop-filter: saturate(180%) blur(10px);
  text-decoration: none;
 
} */

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  #genre-list {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

#genre-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  margin: 10px;
  border: 2px solid;
  border-radius: 10px;
  backdrop-filter: saturate(180%) blur(10px);
  text-decoration: none;

}
.genre-list {
  background-color: #d9a282;
  padding: 10px;
  margin: 20px; 
  border: 2px solid pink;
  border-radius: 10px;
  text-decoration: none;  
  list-style: none;
  color: white;
  font-size: 20px;
  
}
.genre-list:hover {
  background-color: pink;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.genre-txt {
  color: white;
  text-decoration: none;

}
#music-header-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  backdrop-filter: saturate(180%) blur(10px);
  border: solid pink;
  border-radius: 10px;
}

#song-name {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  border: solid pink;
  border-radius: 10px;
  background-color: #d9a282;
  text-align: center;
}
#next-btn-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
  backdrop-filter: saturate(180%) blur(10px);
  border: solid pink;
  border-radius: 10px;
 
}
.next-btn {
  color: white;
  background-color: #d9a282;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  border: solid pink;
  border-radius: 10px;
  text-align: center;
}
.next-btn:hover {
  background-color: pink;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

/* for on play function */
.on-play {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
	animation: gradient 8s ease infinite;

}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
